@page
@model AddModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <form name="srb-add" method="post" action="/add">
    @Html.AntiForgeryToken()
    <input type="hidden" name="parent" value="@Model.Parent" />
    <fieldset>
    <legend>Add new record entry</legend>
    <div>
        <label for="srb-add-date">Date:</label>
        <input type="date" id="srb-add-date" name="entrydate" class="srb-add-date" value="@Model.EntryDate" />
    </div>
    <div>
        <label for="srb-add-title">Title:</label>
        <input type="text" id="srb-add-title" name="title" class="srb-add-title" autofocus value="@Model.Title" />
    </div>
    <div>
        <label for="srb-add-description">Description:</label>
        <textarea id="srb-add-description" name="description" class="srb-add-description" wrap="off">@Model.Description</textarea>
    </div>
    <div>
        <label for="srb-add-reminddate">Remind me:</label>
        In a week / month / year selector?
        Or on date: <input type="date" id="srb-add-reminddate" name="reminddate" class="srb-add-reminddate" value="@Model.RemindDate" />
    </div>
    <div>
        <label for="srb-add-tags">Tags:</label>
        <input type="text" id="srb-add-tags" name="tags" class="srb-add-tags" value="@Model.Tags" />
    </div>
    <div>
        <label></label>
        <button type="submit" data-depends="input.srb-add-title">Add</button>
        @if (Model.Parent != null)
        {
        <button type="submit" name="cancel" value="cancel">Cancel</button>
        }
    </div>
    </fieldset>
    </form>
</article>
