@page "/record/{recordEntryId}"
@model RecordModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <form name="srb-record" method="post" action="/record/@Model.EntryId">
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Record entry</legend>
    <div>
        <label for="srb-record-date">Date:</label>
        <input type="date" id="srb-record-date" name="entrydate" class="srb-record-date" value="@Model.EntryDate" />
    </div>
    <div>
        <label for="srb-record-title">Title:</label>
        <input type="text" id="srb-record-title" name="title" class="srb-record-title" value="@Model.Title" />
    </div>
    <div>
        <label for="srb-record-description">Description:</label>
        <textarea id="srb-record-description" name="description" class="srb-record-description" wrap="off">@Model.Description</textarea>
    </div>
    <div>
        <label for="srb-record-reminddate">Remind me:</label>
        In a week / month / year selector?
        Or on date: <input type="date" id="srb-record-reminddate" name="reminddate" class="srb-record-reminddate" value="@Model.RemindDate" />
    </div>
    <div>
        <label for="srb-record-reminddone">Completed reminder:</label>
        @if (Model.RemindDone == "true") {
        <input type="checkbox" checked="checked" id="srb-record-reminddone" name="reminddone" class="srb-record-reminddone" value="true" />
        } else {
        <input type="checkbox" id="srb-record-reminddone" name="reminddone" class="srb-record-reminddone" value="true" />
        }
    </div>
    <div>
        <label for="srb-record-tags">Tags:</label>
        <input type="text" id="srb-record-tags" name="tags" class="srb-record-tags" value="@Model.Tags" />
    </div>
    <div>
        <label></label>
        <button type="submit" data-depends="input.srb-record-title">Save</button>
        <button type="submit" name="delete" value="delete" data-confirm="Are you sure you want to delete this RecordBook entry?">Delete</button>
        <button type="submit" name="addanother" value="addanother">Add another...</button>
    </div>
    </fieldset>
    </form>
</article>
