@page
@model RemindersModel

<aside>
    <vc:user-nav />
</aside>

<article>
    @if (Model.Sort == "bydatedesc") {
    <span>Sort by <a href="/reminders?view=@Model.View&sort=bydateasc">newest</a> reminder date.</span>
    } else {
    <span>Sort by <a href="/reminders?view=@Model.View&sort=bydatedesc">oldest</a> reminder date.</span>
    }
    @if (Model.View == "upcoming") {
    <span>View <a href="/reminders?view=all&sort=@Model.Sort">everything with a reminder</a>.</span>
    } else {
    <span>View <a href="/reminders?view=upcoming&sort=@Model.Sort">only upcoming reminders</a>.</span>
    }    

    @if (Model.RecordEntries.Any()) {
    <ul class="srb-list">
        <li class="srb-list">
            <ul class="srb-list-item">
                @foreach (var recordEntry in Model.RecordEntries) {
                <li class="@recordEntry.ListItemCss()">
                    <div></div>
                    <div class="srb-list-item-entry">
                        <div>
                            <a href="/record/@recordEntry.RecordEntryId">@recordEntry.EntryDate.ToString("dddd dd MMMM yyyy")</a>
                        </div>
                        <div>
                            @recordEntry.Title
                        </div>
                        <div>
                            @recordEntry.Description
                        </div>
                        @if (recordEntry.ActiveRecordEntryTags.Any()) {
                        <div class="srb-tag">
                            @foreach (var tag in recordEntry.ActiveRecordEntryTags) {
                            <a href="/TODO">@tag.Tag</a>
                            }
                        </div>
                        }
                    </div>
                    <div>
                        @if (recordEntry.ReminderDate != null) {
                        <span class="srb-reminder">Reminder set for @recordEntry.ReminderDate.Value.ToString("dddd dd MMMM yyyy")</span>
                        }
                    </div>
                </li>
                }
            </ul>
        </li>
    </ul>
    } else {
    <p>You have no entries in this group. TODO...</p>
    }
</article>
